<div class="container">
  <div class="row no-gutters justify-content-center m-1">
    <div class="col-md-9 ml-auto pt-3">
    <h1>welcome to <i class="fas fa-book"></i><strong>Bookers</strong> !!</h1>
    </div>
    <div class="col-md-9 ml-auto">
    <p>In<i class="fas fa-book"></i><strong>Bookers,</strong></p>
    </div>
    <div class="col-md-9 ml-auto">
    <p>you can share and exchange your opinions , inpressions , and emotions</p>
    </div>
    <div class="col-md-9 ml-auto">
    <p>about various books!</p>
    </div>
    <div class="col-5">
      <button onclick="location.href='/users/sign_in'" class="btn btn-info btn-block p-1 mb-3">Log in</button>
      <button onclick="location.href='/users/sign_up'" class="btn btn-success btn-block p-1 mb-3">Sign up</button>
      </div>
    </div>
</div>
  